.header-container {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}
#container {
    text-align: center;
    background-color: #fdd835;
    padding: 20px;
    border-radius: 10px;
    border: 5px double #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 80%;
    max-width: 600px;
    color: #000;
    position: relative;
}
.question {
    display: none;
    margin: 20px 0;
    transition: all 0.5s ease;
}
.option {
    display: block;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #201d1d;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.option:hover {
    background-color: #ffeb3b;
}
.correct {
    background-color: #c8e6c9;
    color: #2e7d32;
}
.incorrect {
    background-color: #ffcdd2;
    color: #c62828;
}
#timer {
    margin: 20px 0;
    top: 10px;
    right: 10px;
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#score {
    font-size: 24px;
    margin: 20px 0;
    display: none;
}
#quiz {
    width: 100%;
}
.animate__animated {
    animation-duration: 0.5s;
}
#restart-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff5722;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    width: 100%;
    border-radius: 50px;
    display: none;
}

#restart-btn:hover {
    background-color: #e64a19;
}

.restart-btn-container {
    background-color: transparent;
    width: 100%;
    border-radius: 50px;
}