.main-container {
  background-color: #cce1ef;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  position: relative;
  margin: 12px;
  margin-top: 0;
  border-radius: 8px;
  padding: 16px;
}

.group-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 16px;
  border-radius: 4px;
  margin-top: auto;
  margin-bottom: auto;
}

.photo {
  height: 200px;
  border-radius: 8px;
  margin-bottom: 16px;
}

.member {
  width: calc(20% - 24px - 24px - 12px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 12px;
  min-width: 250px;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  padding: 32px 16px;
  border-radius: 8px;
  &:first-child {
    margin-left: 0;
  }
}

.name {
  margin-bottom: 8px;
}

.title {
    margin-bottom: 24px;
}